@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;1,500&display=swap');

/* || RESET */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/* || VARIABLES */

:root {
    /* FONTS */
    --FF: "Red Hat Display", sans-serif;
    --FS: clamp(1rem, 1vh, 1.5rem);
    
    /* COLORS */
    --BLACK: #000;
    --BLUE: #226CE0;
    --GRAY: #B8B7B8;
    --GREEN: #1B998B;
    --WHITE: whitesmoke;

    --BGCOLOR: var(--WHITE);
    --HEADER-BGCOLOR: var(--GRAY);
    --FONT-COLOR: var(--BLACK);
    --FONT-DIM: #00000098;
    --LINK-COLOR: var(--BLUE);
    --LINK-HOVER: rgba(34, 108, 224, .6);

    /* STANDARD MARGIN */
    --MARGIN: clamp(0.5em, 1vh, 1em) auto;
    --COLUMN-GAP: 1em;
}

/* || UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}


/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    line-height: 1.5;
}

body {
    display: grid;
    /* Taken from JSON Resume template */
    grid-template-columns: [full-start] auto [main-start side-start] minmax(min-content, 1em) [side-end content-start] minmax(auto, 800px) [main-end content-end] auto [full-end];
    max-height: 100vh;
    column-gap: var(--COLUMN-GAP);
}

a:any-link {
    color: var(--LINK-COLOR);
    text-decoration: none;
}

a:focus,
a:hover {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--GREEN);
}


/* || HEADER */

.header {
    grid-template-columns: inherit;
    grid-column: full;
    display: inherit;
    background-color: var(--HEADER-BGCOLOR);
    padding: 1%;
    column-gap: inherit;
}

.header > * {
    grid-column: main;
    padding: 0.25em;
}

.header__ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

/* || MAIN SECTION */

main {
    display: inherit;
    grid-template-columns: inherit;
    grid-column: full;
    margin: 0.5em;
    column-gap: inherit;
}

.main__h2 {
    grid-column: side;
    text-align:right;
}


/* || ARTICLE */

.article {
    grid-column: content;
    padding-right: 1.5em;
    margin-top: .5%;
}

.article__header {
    margin-bottom: 1%
}

.article__ul {
    margin-top: 1em;
    list-style-position: inside;
}

.article__ul li {
    margin: .5%;
}

time {
    color: var(--FONT-DIM);
}

