@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "JetBrains Mono", monospace;
  --FS: 1.1rem;
  --ICON-SIZE: 20px;


  /* COLORS */
  --BGCOLOR: hsl(180, 2%, 11%);
  --FONT-COLOR: silver;
  --FONT-DIM: #959493;
  --LINK-COLOR: #90b0d8;
  --LINK-HOVER: rgba(34, 108, 224, 0.6);
  --LINK-ACTIVE: #1b998b;

  /* MARGINS */
  --MARGIN-NORMAL: 1rem;
  --MARGIN-BIG: 2.2rem;
}

/* || UTILITY */

.nowrap {
  white-space: nowrap;
}

/* || GENERAL STYLES  */

html, body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: var(--FF);
  font-size: var(--FS);
  line-height: 1.5;
  background-color: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  display: block;
}

a:any-link {
  color: var(--FONT-COLOR);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

main {
  width: 60vw;
  min-height: 50vh;
  margin: 0 auto;
}

pre {
  /* To wrap codeblocks */
  white-space: pre-wrap;
  padding: 1rem;
}

img {
  float: inline-end;
  border-left: 2px solid var(--FONT-COLOR);
  margin-top: 2rem;
  margin-left: 1rem;
  padding-left: 3rem;
  min-width: 300px;
  width: 35%;
}

quote {
  float: inline-end;
  border-left: 2px solid var(--FONT-COLOR);
  font-size: 1.3rem;
  line-height: 1.2;
  margin-left: 1rem;
  padding-left: 3rem;
  text-align: right;
  text-transform: uppercase;
  min-width: 260px;
  width: 35%;
  font-weight: bold;
  color:hsl(192, 82%, 41%);
}

/* || NAV */

.nav {
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
}

.nav__ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem; 
  list-style-type: none;
  font-size: var(--FS-SMALL);
}

.nav__ul li {
  white-space: nowrap;
}

.nav__ul a:any-link {
  color: var(--FONT-COLOR);
  text-decoration: underline;
}

.nav__img {
  display: block;
  max-width: 100%;
  width: var(--ICON-SIZE);
  height: var(--ICON-SIZE);
  cursor: pointer;
}

/* || HEADER */

.header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  vertical-align: top;
  margin-top: 1em;
}

.header__h1 {
  /* flex: 1; */
  text-align: end;
  vertical-align: top;
  padding-right: 1em;
  /* padding-top: 0.5em; */
}


/* || MAIN */

main {
  list-style-position: inside;
}

.main__ul {
  /* Next/Previous navigation buttons */
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

/* || ARTICLE */

.article {
  margin: var(--MARGIN-BIG) auto;
}

.article:first-of-type {
  margin-top: 0px;
}

.article::after {
  content:"";
  display: table;
  clear: both;
}

.article__date {
  font-style: italic;
}

.article a {
  color: var(--LINK-COLOR);
}

.article > :is(h3, h4, h5, h5) {
  margin-top: 1rem;
}

p {
  margin: var(--MARGIN-NORMAL) auto;
}

/* || ARCHIVE */

.archive {
  margin: var(--MARGIN-NORMAL) auto;
  font-size: 1rem;
}

.archive__h2 {
  margin-bottom: var(--MARGIN-NORMAL);
}

.archive__ul {
  list-style-type:square;
}

.archive__span {
  white-space: nowrap;
}


/* || FOOTER */

footer {
  position: sticky;
  top: 100%;
}

@media screen and (max-width: 757px) {
  main {
    width: 85vw;
  }

  .nav__ul {
    flex-direction: column;
  }


  quote, img {
    float:none;
    border: none;
    display: block;
    margin: var(--MARGIN-NORMAL) auto;
    padding: 0 0;
  }
}
