@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;1,500&display=swap");

/* || RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: monospace;
  --FS: 1rem;
  --ICON-SIZE: 20px;


  /* COLORS */
  --BGCOLOR: #1d1f21;
  --FONT-COLOR: #C9CACC;

  /* MARGINS */
  --MARGIN-TB: auto;
  --MARGIN-SIDES: auto;
}


/* || GENERAL STYLES  */


body {
  font-family: var(--FF);
  font-size: var(--FS);
  line-height: 1.5;
  background-color: var(--BGCOLOR);
  color: var(--FONT-COLOR);
  display: block;
  margin: var(--MARGIN-TB) var(--MARGIN-SIDES);
}

a:any-link {
  color: var(--FONT-COLOR);
  text-decoration: none;
}
/* || NAV */

.nav {
  display: flex;
  padding: 1em;
}

.nav__ul {
  display: flex;
  flex-wrap: flex;
  justify-content: space-around;
  gap: 0.5em; 
  list-style-type: none;
  font-size: var(--FS-SMALL);
}

.nav__ul a:any-link {
  color: var(--FONT-COLOR);
  text-decoration: underline;
}

.nav__img {
  display: block;
  max-width: 100%;
  width: var(--ICON-SIZE);
  height: var(--ICON-SIZE);
  cursor: pointer;
}



/* || HEADER */

.header {
  display: flex;
  justify-content: space-between;
  /* margin: var(--MARGIN); */
}





